@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /*COLORS*/
  --grey: #bdbdbd;
  --dark-grey: #8f8b8b;
  --dark: #3F3F3F;
  --body-bg: #f5f8fa;

  /*FONTS*/
  --base-font-size: 0.85rem;
}

.input {
  @apply border-none outline-none text-sm text-[color:var(--dark)];
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
